{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFCS SortScene</title>
    <!-- Load the static files -->
    {% load static %}
    <!-- Link to the new CSS file -->
    <link href="{% static 'css/home_style.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="desktop-3">
        <img class="desktop-3-child" alt="" src="{% static 'images/Rectangle 19.svg' %}">
        <div class="ffcs-sortscene">FFCS SortScene.</div>
        <div class="may-thy-ffcs">may thy ffcs beest did bless with valorous int'rnet :D</div>
        <div class="component-2">
            <button class="contact">CONTACT</button>
            <button class="help">HELP</button>
            <div class="component-2-child"></div>
            <div class="github-background"></div>
            <button class="github">GITHUB</button>
            <button class="how-to-use">HOW TO USE</button>
        </div>
        <button class="premium">DONATE</button>
        <div class="component-1">
            <div class="component-1-child"></div>
            <button class="lets-get-started" onclick="window.location.href='{% url 'bck1' %}'">LET’S GET STARTED!</button>
            <img class="send-icon" alt="" src="{% static 'images/Send.svg' %}">
        </div>
        <img class="component-3-icon" alt="" src="{% static 'images/Component 4.svg' %}">
        <div class="lorem-ipsum-dolor">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..."
        </div>
        <img class="component-4-icon" alt="" src="{% static 'images/Component 4.svg' %}">
    </div>
</body>
</html>
